body {
  background: #1E392A, #E9C893;
}
.nav {
  background: #C0C0C0;
  padding: 2%;
}
#nav-btn {
  margin-right: 2%;
}

#nav-form {
  margin: auto;
  position: relative;
  float: right;
}
#help {
  float: right;
  margin: 1% 5%;
  padding: 1%;
}
#helpModal {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}
#mainlogo {
  height: 30%;
  width: 30%;
  margin: 2%;
}

input, select {
  margin: 1%;
}
#reps {

}


#address {
  background: #828081;
  padding: 2%;
  border-radius: 2%;
}
#address-form {
  justify-content: center;
}

#senator {
  border: 2px solid darkgrey;
  margin:0 2%;
  padding: 1%;
  list-style-type: none;
}
li {
  display: inline;
  margin: 2%;
}
.officialphoto {
  height: 50%;
  width: 55%;
}
