body {
  background: #1E392A, #E9C893;
}
.nav {
  background: #C0C0C0;
  padding: 2%;
}
#nav-btn {
  margin-right: 2%;
}
#nav-form {
  margin: auto;
  position: relative;
  float: right;
}
#help {
  float: right;
  margin: 1% 5%;
  padding: 1%;
}

#mainlogo {
  height: 30%;
  width: 30%;
}

input, select {
  margin: 1%;
}

.officialphoto {
  height: 10%;
  width: 10%;
}

#address {
  background: #828081;
  padding: 2%;
  border-radius: 2%;
}
#address-form {
  justify-content: center;
}
