body {
  background: #1E392A, #E9C893;
}
.nav {
  background: #1E392A;
}

#mainlogo {
  height: 30%;
  width: 30%;
}

input, select {
  margin: 1%;
}

.officialphoto {
  height: 10%;
  width: 10%;
}

#address {
  background: #828081;
  padding: 2%;
  border-radius: 2%;
}
#address-form {
  justify-content: center;
}
